@import './variables.scss';

.App {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $background-color;
  color: $text-color;
}
