@font-face {
  font-family: 'Google Sans';
  src: url('./assets/fonts/Google\ Sans.woff2');
}

@font-face {
  font-family: 'Google Sans Greek';
  src: url('./assets/fonts/Google\ Sans\ Greek.woff2');
}

body {
  margin: 0;
  font-family: 'Google Sans', 'Google Sans Greek', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
