$background-color: #EFEFEF;
$text-color: #222;
$component-background-color: #FEFEFE;
$component-text-color: #333;
$component-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
$primary-color: #FF9900;
$button-background-color: #FF9900;
$button-text-color: #EFEFEF;
$button-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
